@charset "utf-8";

/* =======================================

	ContentsElements

======================================= */

/* textArea
------------------------ */
#textArea {
	margin: 10 auto;
	width: 370px;
}
#textArea textarea {
	padding: 10px;
	width: 350px;
	height: 200px;
	background: #fff;
	border: #999 1px solid;
}
#textArea1 textarea {
	padding: 10px;
	width: 350px;
	height: 7px;
	background: #fff;
	border: #999 1px solid;
}
#textArea2 textarea {
	padding: 10px;
	width: 350px;
	height: 80px;
	background: #fff;
	border: #999 1px solid;
}

